// Mobile button (hamburger)
.pb-nav-icon {
  width: 25px;
  height: 20px;
  display: inline-block;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 9999999;
  position: relative;
  
  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #231f20;
    opacity: 1;
    left: 0;

    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
}

.pb-nav-icon span:nth-child(1) {
  top: 0;
  width: 100%;
}

.pb-nav-icon span:nth-child(2),.pb-nav-icon span:nth-child(3) {
  top: 8px;
  // width: 50%;
}

.pb-nav-icon span:nth-child(4) {
  top: 16px;
  // width: 75%;
}

.pb-nav-icon.open span:nth-child(1) {
  top: 24px;
  width: 0;
  left: 50%;
}

.pb-nav-icon.open span:nth-child(2) {
  transform: rotate(45deg);
  width: 100%;
}

.pb-nav-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
  width: 100%;
}

.pb-nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}

.pb-link-phone {
  background-color: $color_yellow;
  padding: 10px 25px;
  border-radius: 10px;
  color: $color_gray;

  &:hover {
    color: $color_gray;
  }

  span {
    border-bottom: dashed 1px $color_gray;
  }

}

.pb-link-login {
  margin-left: 55px;
}

.pb-button {
  font-size: 26px;
  text-transform: uppercase;
  color: $color_gray;
  letter-spacing: .06em;
  border-radius: 10px;
  border: 1px solid #010101;
  display: inline-block;
  line-height: 65px;
  height: 65px;
  padding: 0 35px;
  background-color: transparent;
  transition: ease .4s;
  transition-property: background-color, color;

  &:hover {
    color: $color_gray;
    background-color: rgba(255, 255, 255, 1);
  }

  &--red {
    border: 1px solid #e11a27;
    background: #e11a27;
    color: #fff;

    &:hover {
      color: #e11a27;
    }
  }
}