body {
	font-family: 'PF Agora', sans-serif;
	font-weight: 400;
}

h1, h2 {
	font-family: 'PF Agora', sans-serif;
	font-size: 60px;	
	letter-spacing: .06em;
	font-weight: 300;
	font-variant: small-caps;
}