<header class="pb-header">
	<div class="row align-middle">
		<div class="column">
			<button class="pb-nav-icon">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</button>

			<a href="#" class="pb-header__logo"><img src="assets/img/logo.svg" alt=""></a>
		</div>
		
		<div class="column text-right">
			<a href="tel:123456789" class="pb-link-phone"><span>+11 223 4444 566</span></a>
			<a href="#" class="pb-link-login"><img src="assets/img/icon-enter.png" alt=""></a>
		</div>
	</div>
</header>
