<section class="pb-advantages">
	<div class="row">
		<div class="column text-center">
			<h2>Advantage</h2>
		</div>
	</div>
	<div class="row">
		<div class="small-12 large-4 columns">
			<div class="pb-advantages__item text-center">
				<div class="pb-advantages__image">
					<img src="assets/img/icon-adv-1.jpg" alt="">
				</div>
				<h3>Import photos from your social networks</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt modi tempora</p>
			</div>
		</div>
		<div class="small-12 large-4 columns">
			<div class="pb-advantages__item text-center">
				<div class="pb-advantages__image">
					<img src="assets/img/icon-avd-2.jpg" alt="">
				</div>
				<h3>Import photos from your social networks</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt modi tempora</p>
			</div>
		</div>

		<div class="small-12 large-4 columns">
			<div class="pb-advantages__item text-center">
				<div class="pb-advantages__image">
					<img src="assets/img/icon-avd-3.jpg" alt="">
				</div>
				<h3>Import photos from your social networks</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt modi tempora</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="column text-center">
			<a href="#" class="pb-button pb-button--red">Make your photobook</a>
		</div>
	</div>
</section>