<section class="pb-solutions">
	<div class="row">
		<div class="column text-center">
			<h2>Ready solutions</h2>
		</div>
	</div>
	<div class="row">
		<div class="small-12 large-4 columns">
			<div class="pb-solutions__item">
				<div class="pb-solutions__header">
					<h3>LightBook</h3>
				</div>
				<div class="pb-solutions__info">
					<ul class="pb-solutions__list">
						<li>Lorem ipsum.</li>
						<li>Lorem</li>
						<li>Lorem ipsum dolor.</li>
					</ul>
					<p class="pb-solutions__price">
						$129
					</p> 
				</div>
				<div class="pb-solutions__footer">
					<p>Make your LightBook</p>
				</div>
			</div>
		</div>
		<div class="small-12 large-4 columns">
			<div class="pb-solutions__item">
				<span class="pb-solutions__featured">
					Bestseller
				</span>
				<div class="pb-solutions__header">
					<h3>LightBook</h3>
				</div>
				<div class="pb-solutions__info">
					<ul class="pb-solutions__list">
						<li>Lorem ipsum.</li>
						<li>Lorem</li>
						<li>Lorem ipsum dolor.</li>
					</ul>
					<p class="pb-solutions__price">
						$129
					</p> 
				</div>
				<div class="pb-solutions__footer">
					<p>Make your LightBook</p>
				</div>
			</div>
		</div>
		<div class="small-12 large-4 columns">
			<div class="pb-solutions__item">
				<div class="pb-solutions__header">
					<h3>LightBook</h3>
				</div>
				<div class="pb-solutions__info">
					<ul class="pb-solutions__list">
						<li>Lorem ipsum.</li>
						<li>Lorem</li>
						<li>Lorem ipsum dolor.</li>
					</ul>
					<p class="pb-solutions__price">
						$129
					</p> 
				</div>
				<div class="pb-solutions__footer">
					<p>Make your LightBook</p>
				</div>
			</div>
		</div>
	</div>
</section>