<section class="pb-stages">	
	<div class="row">
		<div class="pb-stages__line"></div>
		<div class="small-6 large-2 large-offset-2 columns">
			<div class="pb-stages__item">
				<div class="pb-stages__icon">
					<img src="assets/img/icon-stages-1.png" alt="">
				</div>
				<p class="pb-stages__info">
					Download photos
				</p>
			</div>
		</div>
		<div class="small-6 large-2 columns">
			<div class="pb-stages__item">
				<div class="pb-stages__icon">
					<img src="assets/img/icon-stages-2.png" alt="">
				</div>
				<p class="pb-stages__info">
					Download photos
				</p>
			</div>
		</div>
		<div class="small-6 large-2 columns">
			<div class="pb-stages__item">
				<div class="pb-stages__icon">
					<img src="assets/img/icon-stages-3.png" alt="">
				</div>
				<p class="pb-stages__info">
					Download photos
				</p>
			</div>
		</div>
		<div class="small-6 large-2 columns">
			<div class="pb-stages__item">
				<div class="pb-stages__icon">
					<img src="assets/img/icon-stages-4.png" alt="">
				</div>
				<p class="pb-stages__info">
					Download photos
				</p>
			</div>
		</div>
	</div>
</section>