<section class="pb-testimonials" data-parallax="scroll" data-image-src="assets/img/bg-testimonials.jpg">
	<div class="row">
		<div class="column">
			<h2>Testimonials</h2>
		</div>
	</div>
	<div class="row">
		<div class="small-12 large-6 columns">
			<div class="pb-testimonials__item">
				<div class="pb-testimonials__icon">
					<img src="assets/img/image-testi.jpg" alt="">
				</div>
				<div class="pb-testimonials__name">
					<h3>Jonh Doe</h3>
					<p>Wedding photographer</p>
				</div>

			</div>
			
			<div class="pb-testimonials__descr">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, ullam eveniet harum ipsam iusto unde distinctio neque vitae soluta saepe pariatur, debitis magni consequatur, laborum adipisci! Commodi similique corrupti assumenda!</p>
			</div>

		</div>
	</div>
</section>